<html>
    <head>  
        <title>{{ g.app_name }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='lib/select2-4.0.3/select2.min.css') }}"> 
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}" />
        <script src="{{ url_for('static',filename='js/json2.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/js.cookie.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/knockout-3.2.0.js') }}"></script>
        <script src="{{ url_for('static',filename='lib/momentjs/moment.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/common.js') }}"></script>
    </head>
    <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('base.index') }} ">
            <img src="{{ url_for('static',filename='img/logo.png') }}" style="margin-top:-12px;"/>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('base.index') }}">
                <span class="glyphicon glyphicon-home"></span> Overview</a>
            </li>
            <li><a href="{{ url_for('ept.endpoints') }}">
                <span class="glyphicon glyphicon-hdd"></span> Endpoint History</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if g.user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!--span class="glyphicon glyphicon-user"></span--!> {{ g.user.username }}
                    <span class="caret"></span></a>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {% if g.user.role == g.ROLE_FULL_ADMIN %}
                        {% if config.get("LOGIN_ENABLED", 1) %}
                        <li><a href="{{ url_for('admin.users') }}">
                            <span class="glyphicon glyphicon-user"></span> Users
                        </a></li>
                        {% endif %}
                    <li><a href="{{ url_for('admin.settings') }}">
                        <span class="glyphicon glyphicon-cog"></span> Settings
                    </a></li>
                    {% endif %}
                    <li><a href="{{ url_for('auth.logout') }}">
                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{{ url_for('auth.login', _external=True) }}">
                <span class="glyphicon glyphicon-log-in"></span> Login
            </a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- alert modal for general alerts (no user input required) -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span data-bind="html: alert_html"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- delete modal for confirming to delete an object -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span data-bind="html: delete_html"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close</button>
                    </button>
                    <button type="button" class="btn btn-danger" data-bind="click: delete_confirmed">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="main" class="container">
        {% block content %}{% endblock %}
    </div>

    </body>
</html>
