<h4>
    Available fabrics
    <button class="btn btn--icon btn--small btn--primary" (click)='getFabrics()'>
        <span class="icon-refresh"></span>
    </button>
    <button class="btn btn--icon btn--small btn--success" (click)='openAddModal(addtemplate)'>
        <span class="icon-add"></span>
    </button>
</h4>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel--raised">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group input--icon">
                            <div class="form-group__text">
                                <input id="search" type="search" placeholder="Search fabric"
                                       (keyup)='updateFilter($event)' required>
                                <button type="button" class="link">
                                    <span class="icon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ngx-datatable
                            [columnMode]="'flex'"
                            [footerHeight]="50"
                            [rowHeight]="'auto'"
                            [loadingIndicator]="loading"
                            [limit]="pageSize"
                            [rows]="rows"
                            [sorts]="sort"
                            [cssClasses]="{
                                    sortAscending: 'icon-chevron-down',
                                    sortDescending: 'icon-chevron-up',
                                    pagerLeftArrow: 'icon-step-prev',
                                    pagerRightArrow: 'icon-step-next',
                                    pagerPrevious: 'icon-step-backward',
                                    pagerNext: 'icon-step-forward'
                                  }"
                    >
                        <ngx-datatable-column prop="fabric" name="Name" [sortable]="true" [flexGrow]="0.5">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{ row.fabric }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="status" name="Status" [sortable]="true" [flexGrow]="0.1">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <span class="label label--raised" [ngClass]="{
                                    'label--success':row.status === 'running',
                                    'label--danger': row.status === 'stopped'
                                }">
                                    <span>
                                       {{ row.status !== '' ? row.status : '&mdash;'}}
                                    </span>
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="mac" name="# MAC" [sortable]="true" [flexGrow]="0.1">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{ row.mac !== '' ? (row.mac | number) : '&mdash;'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="ipv4" name="# IPv4" [sortable]="true" [flexGrow]="0.1">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{ row.ipv4 !== '' ? (row.ipv4 | number)  : '&mdash;'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="ipv6" name="# IPv6" [sortable]="true" [flexGrow]="0.1">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{ row.ipv6 !== '' ? (row.ipv6 | number)  : '&mdash;'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Actions" [flexGrow]="0.1">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <a class="btn btn--small btn--icon btn--primary"
                                   [routerLink]="['fabric', row.fabric]">
                                    <span class="icon-zoom-in"></span>
                                </a>
                                <a class="btn btn--small btn--icon btn--secondary"
                                   *ngIf="row.status !== 'running' "
                                   (click)="toggleFabric(row)" data-balloon='Start'
                                   data-balloon-pos='right'>
                                    <span tabindex="0" class="icon-play"></span>
                                </a>
                                <a class="btn btn--small btn--icon btn--secondary"
                                   *ngIf="row.status === 'running' "
                                   (click)="toggleFabric(row)" data-balloon='Stop'
                                   data-balloon-pos='right'>
                                    <span tabindex="0" class="icon-stop"></span>
                                </a>
                                <a class="btn btn--small btn--icon btn--negative"
                                   (click)='openModal(deletetemplate, row)'>
                                    <span class="icon-trash"></span>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #deletetemplate>
    <div class="modal-body">
        <p>
            Are you sure you want to delete fabric {{ selectedFabric.fabric }}?
        </p>
    </div>
    <br>
    <div class="modal-footer">
        <button class="btn btn--small btn--negative" (click)="deleteFabric()">Delete</button>
        <button class="btn btn--small" (click)="hideModal()">Cancel</button>
    </div>
</ng-template>
<ng-template #addtemplate>
    <form #fabricForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <h6> Add a new fabric </h6>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-group__text">
                            <input id="fabric" type="text" required [(ngModel)]="fabric.fabric" name="name">
                            <label for="fabric">Name</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__text">
                            <input id="apic_hostname" type="text" required [(ngModel)]="fabric.apic_hostname"
                                   name="apic_hostname">
                            <label for="apic_hostname">Hostname</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__text">
                            <input id="apic_username" type="text" required [(ngModel)]="fabric.apic_username"
                                   name="apic_username">
                            <label for="apic_username">Username</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__text">
                            <input id="apic_password" type="password" required [(ngModel)]="fabric.apic_password"
                                   name="apic_password">
                            <label for="apic_password">Password</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <br>
        <div class="modal-footer">
            <button type="submit" class="btn btn--small btn--primary" [disabled]="!fabricForm.form.valid">
                Add
            </button>
            <button type="reset" class="btn btn--small" (click)="hideModal()">Cancel</button>
        </div>
    </form>
</ng-template>