<div class="row">
    <div class="col-md-12">
        <ngx-datatable
                [columnMode]="'flex'"
                [headerHeight]="25"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="pageSize"
                [loadingIndicator]="loading"
                [rows]="rows"
                [externalPaging]="true"
                [externalSorting]="true"
                [count]="count"
                [offset]="pageNumber"
                (page)="setPage($event)"
                (sort)="onSort($event)"
                [sorts]="sorts"
                [cssClasses]="{
                        sortAscending: 'icon-chevron-down',
                        sortDescending: 'icon-chevron-up',
                        pagerLeftArrow: 'icon-step-prev',
                        pagerRightArrow: 'icon-step-next',
                        pagerPrevious: 'icon-step-backward',
                        pagerNext: 'icon-step-forward'
                        }">
            <ngx-datatable-column prop="events.0.ts" name="Time" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ (row['ept.history'].events[0].ts | amFromUnix) | amDateFormat: 'MMM DD YYYY - HH:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="fabric" name="Fabric Name" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['ept.history'].fabric}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="status" name="Status" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <span *ngIf="row['ept.history'].events.length > 0" class="label label--raised"
                                      [ngClass]="{'label--danger':row['ept.history'].events[0].status === 'deleted', 'label--vibblue':row['ept.history'].events[0].status === 'created'}">
                                        {{ row['ept.history'].events[0].status}}
                                </span>
                    <span *ngIf="row['ept.history'].events.length === 0">
                                    -
                                </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="node" name="Node" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['ept.history'].node}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="type" name="Type" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <span class="label label--raised"
                                      [ngClass]="{'label--warning':row['ept.history'].type === 'mac' , 'label--success':row['ept.history'].type === 'ip'}">
                                {{ row['ept.history'].type.toUpperCase()}}
                            </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="addr" name="Address" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a [routerLink]="['/ephistory', row['ept.history'].fabric, row['ept.history'].vnid, row['ept.history'].addr]">
                        {{ row['ept.history']['addr']}}
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="vnid_name" name="VRF/BD" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['ept.history'].events.length > 0 ? row['ept.history'].events[0].vnid_name : row['ept.history'].first_learn.vnid_name }}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
      