<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Endpoint History</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group__text">
                    <input type="text" id="searchendpoint"/>
                    <label for="searchendpoint">Search Endpoints</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="loading" style="margin-top:10%">
        <div class="col-md-12">
            <div class="subheader text-center">Loading</div>
            <div class="loading-spinner flex-center" aria-label="Loading, please wait...">
                <div class="wrapper">
                    <div class="wheel"></div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!loading">
        <div class="panel panel--raised">
            <div class="row">
                <div class="col-md-12">
                    <blockquote class="blockquote"
                                [ngClass]="{'blockquote--success': endpoint.type === 'ipv4', 'blockquote--info': endpoint.type==='ipv6','blockquote--warning':endpoint.type === 'mac' , 'blockquote--danger':endpoint.is_offsubnet || endpoint.is_stale}">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    <span class="label label--raised"
                                          [ngClass]="{'label--success': endpoint.type === 'ipv4', 'label--info': endpoint.type==='ipv6','label--warning':endpoint.type === 'mac'}"> {{ endpoint.type.toUpperCase() }}</span>
                                    <span [ngClass]="{'text--success': endpoint.type === 'ipv4', 'text--info': endpoint.type==='ipv6','text--warning':endpoint.type === 'mac'}">{{ endpoint.addr }}</span>
                                </h4>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ staleoffsubnetDetails }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ fabricDetails }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <strong>{{ endpointStatus }}</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn--small btn--success" (click)="refresh()">
                                    <span class="icon-refresh"></span> Refresh Events
                                </button>
                                <button class="btn btn--small btn--success" (click)="onClickOfDelete()">
                                    <span class="icon-trash"></span> Delete Events
                                </button>
                                <button class="btn btn--small btn--negative" (click)="showClearModal = true">
                                    <span class="icon-exit"></span> Clear Endpoint
                                </button>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
            <br>
        </div>
        <div class="row panel panel--raised" style="margin-top:1%;background-color:white;">
            <div class="col-md-12">
                <div class="secondary-tabs">
                    <ul class="tabs">
                        <li *ngFor="let tab of tabs ; let i=index" id="i" class="tab" routerLinkActive="active">
                            <a tabindex="i" [routerLink]="[tab.path]">
                                <div class="tab__heading" title="tab.name"><a class="btn btn--icon btn--small">
                                    <span [attr.class]=tab.icon></span>
                                </a>{{ tab.name }}
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop hide" [ngClass]="{'hide':showModal === false}" style="left:0"></div>
    <div class="modal modal--small hide" [ngClass]="{'hide':showModal === false}" id="modal-small">
        <div class="modal__dialog">
            <div class="modal__content">
                <a class="modal__close" (click)="showModal = false"><span class="icon-close"></span></a>
                <div class="modal__header">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <h1><span class="icon-warning"></span>
                            {{ modalTitle }}</h1>
                    </div>
                </div>
                <div class="modal__body">
                    <p class="subtitle">{{ modalBody }}</p>
                </div>
                <div class="modal__footer">
                    <button class="btn" (click)="deleteEndpoint()">Yes</button>
                    <button class="btn" (click)="showModal = false">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop hide" [ngClass]="{'hide':showSuccessModal === false}" style="left:0"></div>
    <div class="modal modal--small hide" [ngClass]="{'hide':showSuccessModal === false}" id="modal-small">
        <div class="modal__dialog">
            <div class="modal__content">
                <a class="modal__close" (click)="showSuccessModal = false"><span class="icon-close"></span></a>
                <div class="modal__header">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <h1>
                            {{ modalTitle }}</h1>
                    </div>
                </div>
                <div class="modal__body">
                    <p class="subtitle">{{ modalBody }}</p>
                </div>
                <div class="modal__footer">

                    <button class="btn" (click)="showSuccessModal = false">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop hide" [ngClass]="{'hide':showClearModal === false}" style="left:0"></div>
    <div class="modal modal--large hide" [ngClass]="{'hide':showClearModal === false}" id="modal-small">
        <div class="modal__dialog">
            <div class="modal__content">
                <a class="modal__close" (click)="showClearModal = false"><span class="icon-close"></span></a>
                <div class="modal__header">


                    <h1>Clear Endpoints</h1>

                </div>
                <div class="modal__body">


                    <div class="form-group">
                        <label for="endpoints">Endpoints</label>
                        <ng-select
                                class="text-left"
                                id="endpoints"
                                name="nodes"
                                [items]="clearEndpointOptions"
                                [multiple]="true"
                                [hideSelected]="true"
                                bindLabel="label"
                                bindValue="value"
                                [addTag]="addNodes"
                                [(ngModel)]="clearNodes"
                        >
                        </ng-select>
                    </div>


                </div>
                <div class="modal__footer">
                    <button class="btn" (click)="clearEndpoints()">Submit</button>
                    <button class="btn" (click)="showClearModal = false">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>