<div class="row">
    <div class="col-md-12">
        <div class="alert">
            <div class="alert__icon icon-info-outline"></div>
            <div class="alert__message">This is historic data. Check the endpoints tab to validate the current status
            </div>
        </div>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>
    <div class="col-md-12">
        <div class="panel panel--raised">
            <h4>Rapid Endpoints
                <button class="btn btn--icon btn--small btn--primary" (click)='getRapidEndpoints()'>
                    <span class="icon-refresh"></span>
                </button>
            </h4>
            <ngx-datatable
                    [columnMode]="'flex'"
                    [headerHeight]="25"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [externalSorting]="true"
                    [count]="pagingService.count"
                    [offset]="pagingService.pageOffset"
                    [limit]="pagingService.pageSize"
                    (page)="setPage($event)"
                    (sort)="onSort($event)"
                    [sorts]="sorts"
                    [loadingIndicator]="loading"
                    [rows]="rows"
                    [cssClasses]="{
                    sortAscending: 'icon-chevron-down',
                    sortDescending: 'icon-chevron-up',
                    pagerLeftArrow: 'icon-step-prev',
                    pagerRightArrow: 'icon-step-next',
                    pagerPrevious: 'icon-step-backward',
                    pagerNext: 'icon-step-forward'
                    }">
                <ngx-datatable-column prop="events.0.ts" name="Time" [sortable]="true" [flexGrow]="0.2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ (row['ept.rapid'].events[0].ts | amFromUnix) | amDateFormat: 'MMM DD YYYY - HH:mm:ss' }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="addr" name="Address" [sortable]="true" [flexGrow]="0.2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <a [routerLink]="['../history', row['ept.rapid'].vnid, row['ept.rapid'].addr]">
                            {{ row['ept.rapid'].addr }}
                        </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="event_count" name="Event Count" [sortable]="true" [flexGrow]="0.1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ row['ept.rapid'].count }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="rate_per_minute" name="Rate(/minute)" [sortable]="true" [flexGrow]="0.2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ row['ept.rapid'].events[0].rate | number : '1.0-0' }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="vnid_name" name="VRF/BD" [sortable]="true" [flexGrow]="0.3">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ row['ept.rapid'].events[0].vnid_name}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
  