<ngx-datatable
          #myTable
          class="fullscreen"
          [columnMode]="'flex'"
          [headerHeight]="25"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="10"
          [loadingIndicator]="loading"
          [rows]="rows"
          [cssClasses]="{
            sortAscending: 'icon-chevron-down',
            sortDescending: 'icon-chevron-up',
            pagerLeftArrow: 'icon-step-prev',
            pagerRightArrow: 'icon-step-next',
            pagerPrevious: 'icon-step-backward',
            pagerNext: 'icon-step-forward'
          }"
          (sort)="onSort($event)">
        <ngx-datatable-column prop="node" name="Node">
          <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
        </ngx-datatable-column>
          
        </ngx-datatable>
