           <header class="header header--compressed" *ngIf="prefs.cul === 1">
            <div class="header-bar container">
                <a href="javascript:;" class="header-bar__logo">
                    <span class="icon-cisco"></span>
                </a>
                <div class="header-bar__main">
                    <div class="header-heading">
                        <h1 class="page-title">EPTracker</h1>
                    </div>
                </div>
                <div class="header-toolbar">
                    <a class="btn btn--small btn--icon" *ngFor="let item of menu; let i = index;" [routerLink]="item.name.toLowerCase()">
                        <span [attr.class]= item.icon ></span>
                    </a>
                    <a class="btn btn--small btn--icon btn--negative" (click)="logout()">
                        <span class="icon-power"></span>
                    </a>
                </div>
            </div>
        </header>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
     
     
  