<div class="content-fluid">
    <nav class="sidebar" [class.sidebar--mini]="sidebarCollapsed" *ngIf="menuVisible">
        <div class="sidebar__header">
            <a id="sidebar-toggle" class="sidebar-toggle hidden-xs hidden-sm"
               (click)="sidebarCollapsed = !sidebarCollapsed">
                <span [class.icon-toggle-menu]="sidebarCollapsed" [class.icon-list-menu]="!sidebarCollapsed"></span>
            </a>
            <div class="sidebar__header-title">{{ fabricName }}</div>
        </div>
        <ul>
            <li class="sidebar__item">
                <a [routerLink]="['fabric', fabricName]">
                    <span class="icon-computer"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar__drawer" [class.sidebar__drawer--opened]="endpointExpanded"
                (click)="endpointExpanded = !endpointExpanded; configurationExpanded = false">
                <a>
                    <span class="icon-virtual-machine"></span>
                    <span>Endpoints</span>
                </a>
                <ul>
                    <li class="sidebar__item">
                        <a [routerLink]="['fabric', fabricName,'endpoints']">
                            <div class="row">
                                <span class="icon-browser"></span>
                                <span class="qtr-margin-left text-medium">Browse</span>
                            </div>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a [routerLink]="['fabric', fabricName,'moves']">
                            <div class="row">
                                <span class="icon-panel-shift-right"></span>
                                <span class="qtr-margin-left text-medium">Moves</span>
                            </div>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a [routerLink]="['fabric', fabricName,'rapid-endpoints']">
                            <div class="row">
                                <span class="icon-too-fast"></span>
                                <span class="qtr-margin-left text-medium">Rapid</span>
                            </div>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a [routerLink]="['fabric', fabricName,'offsubnet-endpoints']">
                            <div class="row">
                                <span class="icon-jump-out"></span>
                                <span class="qtr-margin-left text-medium">OffSubnet</span>
                            </div>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a [routerLink]="['fabric', fabricName,'stale-endpoints']">
                            <div class="row">
                                <span class="icon-warning"></span>
                                <span class="qtr-margin-left text-medium">Stale</span>
                            </div>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a [routerLink]="['fabric', fabricName,'cleared-endpoints']">
                            <div class="row">
                                <span class="icon-delete"></span>
                                <span class="qtr-margin-left text-medium">Cleared</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar__item">
                <a [routerLink]="['fabric', fabricName,'settings','connectivity']">
                    <span class="icon-tools"></span>
                    <span>Settings</span>
                </a>
            </li>
            <li class="sidebar__drawer">
                <a (click)='getVersion()'>
                    <span class="icon-help"></span>
                    <span>About</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <header class="header header--compressed" *ngIf="ls.getItem('isLoggedIn') === 'true'">
            <div class="header-bar container">
                <a class="header-bar__logo">
                    <span class="icon-cisco"></span>
                </a>
                <div class="header-bar__main">
                    <div class="header-heading">
                        <h1 class="page-title">Endpoint Tracker</h1>
                    </div>
                </div>
                <div class="header-toolbar">
                    <a class="btn btn--small btn--icon" title="Welcome" [routerLink]="['/']">
                        <span data-balloon="Welcome" data-balloon-pos="down">
                            <span class="icon-home"></span>
                        </span>
                    </a>
                    <a class="btn btn--small btn--icon" title="Users" [routerLink]="['/users']">
            <span data-balloon="Users" data-balloon-pos="down">
              <span class="icon-user"></span>
            </span>
                    </a>
                    <a *ngIf="!app_mode" class="btn btn--small btn--icon" title="Logout" (click)="logout()">
                        <span data-balloon="Logout" data-balloon-pos="down">
                            <span class="icon-sign-out"></span>
                        </span>
                    </a>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="container-fluid center-xs">
                <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
                <div *ngIf="konami">
                    <h4>
                        <button class="btn btn--icon btn--primary" (click)='noKonami()'>
                            <span class="icon-back"></span>
                        </button>
                        Credits
                    </h4>
                </div>
                <div *ngIf="!konami">
                    <router-outlet>
                    </router-outlet>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<ng-template #abouttemplate>
    <div class="modal-body text-left">
        <h5 class="text-center">Enhanced Endpoint Tracker {{ version.version }}</h5>
        <br>
        <div class="panel panel--vibblue panel--raised">
            <div class="row">
                <div class="col-md-4">Documentation</div>
                <div class="col-md-8">
                    <a target="_blank" href="https://aci-enhancedendpointtracker.readthedocs.io/en/latest/">
                        https://aci-enhancedendpointtracker.readthedocs.io/en/latest/
                    </a>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-4">Feedback</div>
                <div class="col-md-8">
                    <a href="mailto:aciappcenter-support@external.cisco.com?Subject=Feedback for Enhanced Endpoint Tracker app">
                        aciappcenter-support@external.cisco.com
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">Build date</div>
                <div class="col-md-8">{{ (version.timestamp | amFromUnix) | amDateFormat: 'MMM DD YYYY - HH:mm:ss' }}
                    ({{ (version.timestamp | amFromUnix) | amTimeAgo }})
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-4">Branch</div>
                <div class="col-md-8">{{ version.branch }}</div>
            </div>
            <div class="row text-left">
                <div class="col-md-4">Commit id</div>
                <div class="col-md-8">{{ version.commit }}</div>
            </div>
        </div>
    </div>
    <br>
    <div class="modal-footer">
        <button type="reset" class="btn btn--primary btn--small" (click)="modalService.hideModal()">Close</button>
    </div>
</ng-template>