<header class="header header--compressed" *ngIf="ls.getItem('isLoggedIn') === 'true'">
    <div class="header-bar container">
        <a class="header-bar__logo">
            <span class="icon-cisco"></span>
        </a>
        <div class="header-bar__main">
            <div class="header-heading">
                <h1 class="page-title">Endpoint Tracker</h1>
            </div>
        </div>
        <div class="header-toolbar">
            <a class="btn btn--small btn--icon" title="Welcome" [routerLink]="['/']">
            <span data-balloon="Welcome" data-balloon-pos="left">
              <span class="icon-home"></span>
            </span>
            </a>
            <a class="btn btn--small btn--icon" title="Users" [routerLink]="['/users']">
            <span data-balloon="Users" data-balloon-pos="left">
              <span class="icon-user"></span>
            </span>
            </a>
            <a class="btn btn--small btn--icon" title="About" (click)='openModal(abouttemplate)'>
            <span data-balloon="About" data-balloon-pos="left">
              <span class="icon-info"></span>
            </span>
            </a>
            <a *ngIf="!app_mode" class="btn btn--small btn--icon" title="Logout" (click)="logout()">
              <span data-balloon="Logout" data-balloon-pos="left">
                <span class="icon-sign-out"></span>
              </span>
            </a>
        </div>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div *ngIf="konami">
            <h4>
                <button class="btn btn--icon btn--primary" (click)='noKonami()'>
                    <span class="icon-back"></span>
                </button>
                Credits
            </h4>
        </div>
        <div *ngIf="!konami">
            <router-outlet>
            </router-outlet>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>
</div>