<div class="row">
    <div class="col-md-12">
        <div class="panel">

            <div class="subheader">Filters</div>
            <div class="form-group form-group--inline">
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="osFilter" (change)="onFilterToggle()">
                    <span class="switch__input"></span>
                    <span class="switch__label">Offsubnet Endpoints</span>
                </label>
            </div>
            <div class="form-group form-group--inline">
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="stFilter" (change)="onFilterToggle()">
                    <span class="switch__input"></span>
                    <span class="switch__label">Stale Endpoints</span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ngx-datatable
                [columnMode]="'force'"
                [headerHeight]="25"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [loadingIndicator]="loading"
                [rows]="rows"
                [rowClass]="getRowClass"
                [externalPaging]="true"
                [externalSorting]="true"
                [count]="count"
                [offset]="pageNumber"
                [limit]="pageSize"
                (page)="setPage($event)"
                (sort)="onSort($event)"

                [cssClasses]="{
                  sortAscending: 'icon-chevron-down',
                  sortDescending: 'icon-chevron-up',
                  pagerLeftArrow: 'icon-step-prev',
                  pagerRightArrow: 'icon-step-next',
                  pagerPrevious: 'icon-step-backward',
                  pagerNext: 'icon-step-forward'
                  }">
            <ngx-datatable-column prop="fabric" name="Fabric Name" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row['ept.endpoint']['fabric']}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="type" name="Type" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <span class="label label--raised"
                                [ngClass]="{'label--warning':row['ept.endpoint']['type'] === 'mac', 'label--success':row['ept.endpoint']['type']==='ipv4', 'label--info':row['ept.endpoint']['type']==='ipv6'}">
                            {{ row['ept.endpoint']['type'].toUpperCase() }}
                        </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="addr" name="Address" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a [routerLink]="['/ephistory', row['ept.endpoint']['fabric'], row['ept.endpoint']['vnid'], row['ept.endpoint']['addr']]">
                        {{ row['ept.endpoint']['addr']}}
                    </a>
                    <a data-balloon='Offsubnet endpoint' data-balloon-pos='right'>
                        <span class="icon-warning" *ngIf="row['ept.endpoint']['is_offsubnet']" data-balloon="Offsubnet"
                              data-balloon-pos="left"></span>
                    </a>
                    <a data-balloon='Stale Endpoint' data-balloon-pos='right'>
                        <span class="icon-time" *ngIf="row['ept.endpoint']['is_stale']"></span>
                    </a>
                    <a data-balloon="Deleted endpoint" data-balloon-pos="right">
                          <span class="icon-error"
                                *ngIf="(row['ept.endpoint'].events.length>0 && row['ept.endpoint'].events[0].status === 'deleted') || row['ept.endpoint'].first_learn.status === 'deleted'">
                          </span>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="vnid_name" name="VRF/BD" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['ept.endpoint'].events.length > 0 ? row['ept.endpoint'].events[0].vnid_name : row['ept.endpoint'].first_learn.vnid_name }}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
