<div class="row">
    <div class="col-md-12">
        <div class="alert" style="margin-top:1%">
            <div class="alert__icon icon-info-outline"></div>
            <div class="alert__message">This is historic data. The endpoints shown may not be offsubnet anymore. Please
                check <b>Endpoints</b> tab for current status.
            </div>
        </div>
        <ngx-datatable
                [columnMode]="'flex'"
                [headerHeight]="25"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [externalSorting]="true"
                [count]="count"
                [offset]="pageNumber"
                [limit]="pageSize"
                (page)="setPage($event)"
                (sort)="onSort($event)"
                [sorts]="sorts"
                [loadingIndicator]="loading"
                [rows]="rows"
                [cssClasses]="{
                    sortAscending: 'icon-chevron-down',
                    sortDescending: 'icon-chevron-up',
                    pagerLeftArrow: 'icon-step-prev',
                    pagerRightArrow: 'icon-step-next',
                    pagerPrevious: 'icon-step-backward',
                    pagerNext: 'icon-step-forward'
                    }">
            <ngx-datatable-column prop="events.0.ts" name="Time" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ (row['ept.offsubnet'].events[0].ts | amFromUnix) | amDateFormat: 'MMM DD YYYY - HH:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="fabric" name="Fabric Name" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['ept.offsubnet'].fabric}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="node" name="Node" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['ept.offsubnet'].node}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="type" name="Type" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <span class="label label--raised"
                                      [ngClass]="{'label--warning':row['ept.offsubnet'].type === 'mac', 'label--success':row['ept.offsubnet'].type==='ipv4', 'label--info':row['ept.offsubnet'].type==='ipv6'}">
                            {{ row['ept.offsubnet'].type}}
                            </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="addr" name="Address" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a [routerLink]="['/ephistory', row['ept.offsubnet'].fabric, row['ept.offsubnet'].vnid, row['ept.offsubnet'].addr]">
                        {{ row['ept.offsubnet']['addr']}}
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="vnid_name" name="VRF/BD" [sortable]="true" [flexGrow]="0.2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['ept.offsubnet'].events[0].vnid_name}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
  