<div class="content" style="height:100%">
        <div class="row" style="height:100%">
            <div class="col-md-3" style="height:100%">
              <div class="panel panel--bordered-bottom panel--bordered-right panel--loose half-padding-left">
                <h4>Settings 
                  <button class="btn btn--small btn--primary" (click)="onSubmit()">
                    Submit
                  </button>
                  <button class="btn btn--small btn--negative" (click)='onClickOfDelete()'>
                    Delete
                  </button></h4>
                
              </div>
                <ul class="tabs tabs--vertical" style="height:100%; background:white;">
                  <li *ngFor="let tab of tabs" routerLinkActive="active">
                    <a [routerLink]="tab.path">
                      {{tab.name}}
                    </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 container" style="background: white ; height:100%">
              <router-outlet>
              </router-outlet>
            </div>
          </div>
          <div class="modal-backdrop hide" [ngClass]="{'hide':showModal === false}" style="left:0"></div>
          <div class="modal modal--small hide" [ngClass]="{'hide':showModal === false}" id="modal-small">
              <div class="modal__dialog">
                  <div class="modal__content">
                      <a class="modal__close" (click)="showModal = false"><span class="icon-close"></span></a>
                      <div class="modal__header">
                          <h1 class="modal__title">{{modalTitle}}</h1>
                      </div>
                      <div class="modal__body">
                         <p class="subtitle">{{modalBody}}</p>
                      </div>
                      <div class="modal__footer">
                          <button class="btn" (click)="showModal = false">Ok</button>
                      </div>
                  </div>
              </div>
          </div>

          <div class="modal-backdrop hide" [ngClass]="{'hide':showConfirmationModal === false}" style="left:0"></div>
          <div class="modal modal--small hide" [ngClass]="{'hide':showConfirmationModal === false}" id="modal-small">
              <div class="modal__dialog">
                  <div class="modal__content">
                      <a class="modal__close" (click)="showConfirmationModal = false"><span class="icon-close"></span></a>
                      <div class="modal__header">
                          <h1 class="modal__title">{{modalTitle}}</h1>
                      </div>
                      <div class="modal__body">
                         <p class="subtitle">{{modalBody}}</p>
                      </div>
                      <div class="modal__footer">
                          <button class="btn" (click)='deleteFabric(fabric)'>Yes</button>
                          <button class="btn" (click)="showConfirmationModal = false">No</button>
                      </div>
                  </div>
              </div>
          </div>

          <div class="modal-backdrop hide" [ngClass]="{'hide':showSelectionModal === false}" style="left:0"></div>
          <div class="modal modal--small hide" [ngClass]="{'hide':showSelectionModal === false}" id="modal-small">
              <div class="modal__dialog">
                  <div class="modal__content">
                      <a class="modal__close" (click)="showSelectionModal = false"><span class="icon-close"></span></a>
                      <div class="modal__header">
                          <h1 class="modal__title">{{modalTitle}}</h1>
                      </div>
                      <div class="modal__body">
                        <div class="row">
                          <div class="col-md-12">
                              
                                  <div class="form-group half-margin-bottom">
                                      <div class="form-group__text select">
                                          <select id="input-type-select" [(ngModel)]="prefs.fabricSettings" >
                                              <option *ngFor="let fabric of fabrics; let i = index" [ngValue]="fabric['ept.settings']" >{{fabric['ept.settings'].fabric}}</option>
                                          </select>
                                          <label for="input-type-select">Select Fabric</label>
                                      </div>
                                  </div>
                              
                          </div>
                        </div>
                      </div>
                      <div class="modal__footer">
                          <button class="btn" (click)='onFabricSelect(prefs.fabricSettings)' >Submit</button>
                      </div>
                  </div>
              </div>
          </div>
    
</div>
