<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h3>Users</h3>
        </div>
      </div>
       
      <div class="row" *ngIf = "userRole === 0">
        <div class="col-md-8">
            <ul class="list list--highlight">
                <li *ngFor="let user of users; let i = index;"><div class="panel panel--bordered">
                  <div class="row">
                    <div class="col-md-8">
                     <strong> {{user.username}} </strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <span *ngIf="user.role === 0"> Admin</span>
                      <span *ngIf="user.role === 1"> User </span>
                    </div>
                  </div>
                </div></li>
              </ul>
        </div>
      </div>
      
</div>