<h3>Remediation</h3><br>
<div class="row half-margin-bottom">
    <div class="col-md-12">
        <div class="form-group">
            <label class="switch">
                <input type="checkbox" [(ngModel)]="prefs['fabricSettings']['auto_clear_offsubnet']">
                <span class="switch__input"></span>
                <span class="switch__label">Auto Clear OffSubnet Endpoints</span>
            </label>
        </div>
    </div>
</div>
<div class="row half-margin-bottom">
    <div class="col-md-12">
        <div class="form-group">
            <label class="switch">
                <input type="checkbox" [(ngModel)]="prefs['fabricSettings']['auto_clear_stale']">
                <span class="switch__input"></span>
                <span class="switch__label">Auto Clear Stale Endpoints</span>
            </label>
        </div>
    </div>
</div>