<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div *ngIf="!loading">
    <div class="panel panel--bordered">
        <div class="row">
            <div class="col-md-12">
                <span [ngClass]="commonService.getEndpointTypeLabel(endpoint.type)">{{ endpoint.type }}</span>&nbsp;
                <span class="text-xlarge" style="vertical-align: middle">{{ endpoint?.addr }}</span>&nbsp;
                <span *ngIf="['external','psvi','loopback'].includes(endpoint?.learn_type)">
                            <span class="label label--ltgray">{{ endpoint?.learn_type}}</span>
                            &nbsp;
                        </span>
                <div class="dropdown pull-right" [class.active]="dropdownActive"
                     (click)="dropdownActive = !dropdownActive">
                    <button class="btn btn--small btn--primary">Actions</button>
                    <div class="dropdown__menu">
                        <a (click)="onClickOfRefresh()">Refresh events</a>
                        <a (click)="onClickOfDelete()">Clear events</a>
                        <a (click)="onClickOfClear()">Clear endpoint</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="endpoint?.is_offsubnet">
            <div class="row qtr-margin-top">
                <div class="col-md-12">
                    <span class="label label--danger">offsubnet</span>
                    <span style="vertical-align: middle;">&nbsp; Nodes &nbsp;</span>
                    <span *ngFor='let node of offsubnetList' class="label label--dkgray">{{ node }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="endpoint?.is_stale">
            <div class="row qtr-margin-top">
                <div class="col-md-12">
                    <span class="label label--danger">Stale</span>
                    <span style="vertical-align: middle;">&nbsp; Nodes &nbsp;</span>
                    <span *ngFor='let node of staleList' class="label label--dkgray">{{ node }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="endpoint?.is_rapid">
            <div class="row qtr-margin-top">
                <div class="col-md-12">
                    <span class="label label--danger">Rapid</span>
                </div>
            </div>
        </div>
        <div *ngIf="fabricDetails != ''">
            <div class="row qtr-margin-top">
                <div class="col-md-12" [innerHTML]='fabricDetails'>
                </div>
            </div>
        </div>
        <div *ngIf="endpointStatus != ''">
            <div class="row qtr-margin-top">
                <div class="col-md-12">
                    <span [innerHTML]='endpointStatus'></span>
                    <span *ngIf="rw_mac !== '' && endpoint?.type !== 'mac'">, mac
                        <a [routerLink]="['/fabric',this.endpoint.fabric,'history',rw_bd,rw_mac]">{{ rw_mac }}</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row qtr-margin-top">
            <div class="col-md-12">
                <span *ngFor='let c of counts'>
                <span class="label label--ltgray">{{ c['ct']}}</span>
                <span style="vertical-align: middle; margin-left:0.5% ; margin-right:0.5%"> {{ c['prop']}} </span>
            </span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="panel">
    <div class="row">
        <div class="col-md-12">
            <div class="secondary-tabs">
                <ul class="tabs">
                    <li *ngFor="let tab of tabs ; let i=index" id="i" class="tab" routerLinkActive="active">
                        <a tabindex="i" [routerLink]="[tab.path]">
                            <div class="tab__heading" title="tab.name">
                                <a class="btn btn--icon btn--small"><span [attr.class]=tab.icon></span></a>
                                {{ tab.name }}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<ng-template #clearMsg>
    <div class="modal__header">
        <h2>Clear Endpoint</h2>
    </div>
    <div class="modal__body">
        <div class="form-group">
            <label for="endpoints">Nodes</label>
            <ng-select
                    class="text-left"
                    id="endpoints"
                    name="endpoints"
                    bindLabel="label"
                    bindValue="value"
                    placeholder="Enter range or comma seperated nodes to be cleared here (e.g. 100-150, 101,102,105)"
                    [isOpen]="false"
                    [multiple]="true"
                    [hideSelected]="true"
                    [addTag]="addNodes"
                    [(ngModel)]="clearNodes"
                    [items]="clearEndpointOptions">
            </ng-select>
        </div>
        <div align="left" style="margin-top:2%">
            <span style="vertical-align:top">Presets&nbsp;&nbsp;</span>
            <div class="form-group form-group--inline form-group--loose">
                <label class="checkbox" [ngClass]="{'disabled':!endpoint?.is_offsubnet}">
                    <input type="checkbox" [disabled]="!endpoint?.is_offsubnet">
                    <span class="checkbox__input"></span>
                    <span class="checkbox__label">Offsubnet Nodes</span>
                </label>
            </div>
            <div class="form-group form-group--inline form-group--loose">
                <label class="checkbox" [ngClass]="{'disabled':!endpoint?.is_stale}">
                    <input type="checkbox">
                    <span class="checkbox__input"></span>
                    <span class="checkbox__label">Stale Nodes</span>
                </label>
            </div>
        </div>
        <div class="modal__footer">
            <button class="btn btn--primary" (click)="modalService.hideModal()">Cancel</button>
            <button class="btn btn--secondary" (click)="clearEndpoints()">Proceed</button>
        </div>
    </div>
</ng-template>
<ng-template #errorMsg>
    <div class="modal__body">
        <div class="col-xl-12">
            <div class="alert alert--success" *ngIf="modalService.modalIcon === 'success'">
                <div class="alert__icon icon-check-outline"></div>
                <div class="alert__message text-left">
                    <h4>{{ modalService.modalTitle }}</h4>
                    <div>{{ modalService.modalBody }}</div>
                </div>
            </div>
        </div>
        <div class="alert alert--danger" *ngIf="modalService.modalIcon === 'error'">
            <div class="alert__icon icon-error-outline"></div>
            <div class="alert__message text-left">
                <h4>{{ modalService.modalTitle }}</h4>
                <div>{{ modalService.modalBody }}</div>
            </div>
        </div>
        <div class="alert alert--info" *ngIf="modalService.modalIcon === 'info'">
            <div class="alert__icon icon-info-outline"></div>
            <div class="alert__message text-left">
                <h4>{{ modalService.modalTitle }}</h4>
                <div>{{ modalService.modalBody }}</div>
            </div>
        </div>
        <div class="modal__footer" *ngIf="!modalService.decisionBox">
            <button class="btn" (click)="modalService.hideModal()">Ok</button>
        </div>
        <div class="modal__footer" *ngIf="modalService.decisionBox">
            <button class="btn btn--primary" (click)="modalService.runCallback()">Proceed</button>
            <button class="btn btn--secondary" (click)="modalService.hideModal()">Cancel</button>
        </div>
    </div>
</ng-template>