<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<div class="panel panel--bordered">
    <loading-dots *ngIf="loading"></loading-dots>
    <div *ngIf="!loading">
        <div class="row">
            <div class="col-md-12">
                <endpoint-label [type]="endpoint.type"></endpoint-label>&nbsp;
                <span class="text-xlarge" style="vertical-align: middle">{{ endpoint.addr }}</span>&nbsp;
                <status-label *ngIf="endpoint.is_ctrl" [status]="endpoint.learn_type"></status-label>
                <!--div class="dropdown pull-right" [class.active]="dropdownActive"
                     (click)="dropdownActive = !dropdownActive">
                    <button class="btn btn--small btn--primary">Actions</button>
                    <div class="dropdown__menu">
                        <a (click)="onClickOfRefresh()">Refresh events</a>
                        <a (click)="onClickOfDelete()">Clear events</a>
                        <a (click)="onClickOfClear()">Clear endpoint</a>
                    </div>
                </div-->
            </div>
        </div>
        <div *ngIf="endpoint.is_offsubnet">
            <div class="row qtr-margin-top">
                <div class="col-md-1 text-left">
                    <status-label [status]="'offsubnet'"></status-label>
                </div>
                <div class="col-md-11">
                    <span style="vertical-align: middle;">&nbsp; Nodes &nbsp;</span>
                    <span *ngFor='let node of offsubnetNodeList' class="label label--dkgray">{{ node }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="endpoint.is_stale">
            <div class="row qtr-margin-top">
                <div class="col-md-1 text-left">
                    <status-label [status]="'stale'"></status-label>
                </div>
                <div class="col-md-11">
                    <span style="vertical-align: middle;">&nbsp; Nodes &nbsp;</span>
                    <span *ngFor='let node of staleNodeList' class="label label--dkgray">{{ node }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="endpoint.is_rapid">
            <div class="row qtr-margin-top">
                <div class="col-md-12">
                    <status-label [status]="'rapid'"></status-label>
                </div>
            </div>
        </div>
        <div>
            <div class="row qtr-margin-top">
                <div class="col-md-12">
                    Fabric <strong>{{ endpoint.fabric }}</strong>
                    <span class="qtr-margin-left" *ngIf="endpoint.type=='mac'">
                        BD <strong>{{ endpoint.vnid_name }}</strong>
                    </span>
                    <span class="qtr-margin-left" *ngIf="endpoint.type!='mac'">
                        VRF <strong>{{ endpoint.vnid_name }}</strong> 
                    </span>
                    <span *ngIf="!endpoint?.is_ctrl" class="qtr-margin-left">
                        EPG <strong>{{ endpoint.epg_name }} </strong>
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="!endpoint.is_ctrl">
            <div class="row qtr-margin-top">
                <div class="col-md-12">
                    <span *ngIf="endpoint.is_local">
                        Local on <strong>pod-{{ endpoint.local_pod }}</strong>  
                        node <strong>{{ endpoint.local_node | localNode }}</strong> 
                        interface <strong>{{ endpoint.local_interface }}</strong> 
                        encap <strong>{{ endpoint.local_encap }} </strong>
                        <span *ngIf="endpoint.type!=mac && endpoint.local_rw_bd>0">
                            mac 
                            <a [routerLink]="['/fabric',endpoint.fabric,'history',endpoint.local_rw_bd,endpoint.local_rw_mac]">
                                {{ endpoint.local_rw_mac }}
                            </a>
                        </span>
                    </span>
                    <span *ngIf="!endpoint.is_local">
                        Not local on any node.
                    </span>
                </div>
                <div class="qtr-margin-top col-md-12">
                    <span *ngIf="xrNodeList.length>0">
                        Remotely learned on 
                        <strong>{{ xrNodeList.length | number}}</strong>
                        {{ xrNodeList.length == 1 ? "node": "nodes"}}.
                        <span style="vertical-align: middle;">
                            <a (click)="toggleXrNodeList()" [attr.data-balloon]="prefs.displayXrNodes?'hide nodes':'show all remote nodes'" 
                                data-balloon-pos="down">
                                <span class="icon-xsmall" [ngClass]="prefs.displayXrNodes?'icon-chevron-up':'icon-chevron-down'"></span>
                            </a>
                        </span>
                    </span>
                    <span *ngIf="xrNodeList.length==0">
                        Not remotely learned on any node.
                    </span>
                </div>
                <div class="qtr-margin-top col-md-12" *ngIf="xrNodeList.length>0 && prefs.displayXrNodes">
                    <span *ngFor='let node of xrNodeList' class="label label--dkgray">{{ node }}</span>
                </div>
            </div>
        </div>
        <div class="row qtr-margin-top" *ngIf="!endpoint.is_ctrl">
            <div class="col-md-12">
                <span class="label">{{ total_moves | number }}</span>
                <span class="half-margin-left half-margin-right">Moves</span>
                <span class="label">{{ total_rapid | number }}</span>
                <span class="half-margin-left half-margin-right">Rapid events</span>
                <span class="label">{{ total_offsubnet | number}}</span>
                <span class="half-margin-left half-margin-right">OffSubnet events</span>
                <span class="label">{{ total_stale | number }}</span>
                <span class="half-margin-left half-margin-right">Stale events</span>
                <span class="label">{{ total_remediate | number }}</span>
                <span class="half-margin-left half-margin-right">Clear events</span>
            </div>
        </div>
    </div>
</div>

<div class="panel base-margin-top">
    <div class="row">
        <div class="col-md-12">
            <div class="secondary-tabs">
                <ul class="tabs">
                    <li *ngFor="let tab of tabs ; let i=index" id="i" class="tab" routerLinkActive="active">
                        <a tabindex="i" [routerLink]="[tab.path]">
                            <div class="tab__heading">
                                <a class="btn btn--icon btn--small"><span [attr.class]=tab.icon></span></a>
                                {{ tab.name }}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<ng-template #clearMsg>
    <div class="modal__header">
        <h2>Clear Endpoint</h2>
    </div>
    <div class="modal__body">
        <div class="form-group">
            <label for="endpoints">Nodes</label>
            <ng-select
                    class="text-left"
                    id="endpoints"
                    name="endpoints"
                    bindLabel="label"
                    bindValue="value"
                    placeholder="Enter range or comma seperated nodes to be cleared here (e.g. 100-150, 101,102,105)"
                    [isOpen]="false"
                    [multiple]="true"
                    [hideSelected]="true"
                    [addTag]="addNodes"
                    [(ngModel)]="clearNodes"
                    [items]="clearEndpointOptions">
            </ng-select>
        </div>
        <div align="left" style="margin-top:2%">
            <span style="vertical-align:top">Presets&nbsp;&nbsp;</span>
            <div class="form-group form-group--inline form-group--loose">
                <label class="checkbox" [ngClass]="{'disabled':!endpoint?.is_offsubnet}">
                    <input type="checkbox" [disabled]="!endpoint?.is_offsubnet">
                    <span class="checkbox__input"></span>
                    <span class="checkbox__label">Offsubnet Nodes</span>
                </label>
            </div>
            <div class="form-group form-group--inline form-group--loose">
                <label class="checkbox" [ngClass]="{'disabled':!endpoint?.is_stale}">
                    <input type="checkbox">
                    <span class="checkbox__input"></span>
                    <span class="checkbox__label">Stale Nodes</span>
                </label>
            </div>
        </div>
        <div class="modal__footer">
            <button class="btn btn--primary" (click)="modalService.hideModal()">Cancel</button>
            <button class="btn btn--secondary" (click)="clearEndpoints()">Proceed</button>
        </div>
    </div>
</ng-template>