<div class="row">
    <div class="col-md-6">
        <span class="text-xlarge">History for {{ endpoint?.addr }}</span>&nbsp;
        <span class="label" [ngClass]="{
                'label--success': endpoint?.type === 'ipv4',
                'label--info': endpoint?.type==='ipv6',
                'label--warning':endpoint?.type === 'mac'
            }">{{ endpoint?.type.toUpperCase() }}</span>&nbsp;
        <div class="dropdown" [class.active]="dropdownActive" (click)="dropdownActive = !dropdownActive">
            <button class="btn btn--small btn--primary">Actions</button>
            <div class="dropdown__menu">
                <a (click)="onClickOfRefresh()">Refresh events</a>
                <a (click)="onClickOfDelete()">Clear events</a>
                <a (click)="onClickOfClear()">Clear endpoint</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div *ngIf="!loading">
    <div class="panel panel--bordered">
        <div *ngIf="endpoint?.is_offsubnet">
            <div class="row">
                    <div class="col-md-12">
                            <span class="label label--danger">offsubnet</span>
                            <span style="vertical-align: middle;">&nbsp; Nodes &nbsp;</span>
                        <span *ngFor='let node of offsubnetList' class="label label--dkgray">{{node}}</span>
                    </div>
                
            </div>
        </div>
        <div *ngIf="endpoint?.is_stale">
                <div class="row">
                        <div class="col-md-12">
                                <span class="label label--danger">Stale</span>
                                <span style="vertical-align: middle;">&nbsp; Nodes &nbsp;</span>
                            <span *ngFor='let node of staleList' class="label label--dkgray">{{node}}</span>
                        </div>
                </div>
        </div>
        <div *ngIf="endpoint?.is_rapid">
                <div class="row">
                        <div class="col-md-12">
                                <span class="label label--danger">Rapid</span>
                        </div>
                </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        <div *ngIf="fabricDetails != ''">
            <div class="row">
                <div class="col-md-12" [innerHTML]='fabricDetails'>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <div *ngIf="endpointStatus != ''">
            <div class="row">
                <div class="col-md-12">
                    <span [innerHTML]='endpointStatus'></span>
                    <span *ngIf="rw_mac !== ''">, mac 
                        <a [routerLink]="['/fabric',this.endpoint.fabric,'history',rw_bd,rw_mac]">{{rw_mac}}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div class="panel">
        <div class="row">
            <div class="col-md-12">
                <div class="secondary-tabs">
                    <ul class="tabs">
                        <li *ngFor="let tab of tabs ; let i=index" id="i" class="tab" routerLinkActive="active">
                            <a tabindex="i" [routerLink]="[tab.path]">
                                <div class="tab__heading" title="tab.name">
                                    <a class="btn btn--icon btn--small"><span [attr.class]=tab.icon></span></a>
                                    {{ tab.name }}
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>


       <ng-template #clearMsg>
            <div class="modal__header">
                <h1>Clear Endpoints</h1>
            </div>
            <div class="modal__body">
                <div class="form-group">
                    <label for="endpoints">Endpoints</label>
                    <ng-select
                            class="text-left"
                            id="endpoints"
                            name="endpoints"
                            [multiple]="true"
                            [hideSelected]="true"
                            bindLabel="label"
                            bindValue="value"
                            [addTag]="addNodes"
                            [(ngModel)]="clearNodes"
                            (add)="onClearDropdownAdd($event)"
                            (remove)="onClearDropdownRemove($event)"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="modal__footer">
                <button class="btn" (click)="clearEndpoints()">Submit</button>
                <button class="btn" (click)="modalService.hideModal()">Cancel</button>
            </div>
        </ng-template>

<ng-template #errorMsg>
        <div class="modal__body">
                <div class="col-xl-12">
                        <div class="alert alert--success" *ngIf="modalIcon === 'success'">
                            <div class="alert__icon icon-check-outline"></div>
                            <div class="alert__message text-left">
                                <h4>{{modalTitle}}</h4>
                                <div>{{modalBody}}</div>
                            </div>
                        </div>
                </div>
                <div class="alert alert--danger" *ngIf="modalIcon === 'error'">
                        <div class="alert__icon icon-error-outline"></div>
                        <div class="alert__message text-left">
                            <h4>{{modalTitle}}</h4>
                            <div>{{modalBody}}</div>
                        </div>
                </div>
                <div class="alert alert--info" *ngIf="modalIcon === 'info'">
                        <div class="alert__icon icon-info-outline"></div>
                        <div class="alert__message text-left">
                            <h4>{{modalTitle}}</h4>
                            <div>{{modalBody}}</div>
                        </div>
                </div>
                
        <div class="modal__footer" *ngIf="!decisionBox">
                <button class="btn" (click)="modalService.hideModal()">Ok</button>
        </div>
        <div class="modal__footer" *ngIf="decisionBox">
                <button class="btn btn--primary" (click)="runFunction()">Proceed</button>
                <button class="btn btn--secondary" (click)="modalService.hideModal()">Cancel</button>
        </div>
         
        </div>  
    </ng-template>