<div class="panel panel--raised">
    <div class="row" >
        <div class="col-md-2">
            <button class="btn btn--small btn--icon btn--primary" data-balloon="Save" data-balloon-pos="down"
                (click)="save()">
                <span class="icon-save"></span>
            </button>
            <button class="btn btn--small btn--icon btn--negative" data-balloon="Delete Endpoint History" data-balloon-pos="down">
                <span class="icon-virtual-machine"></span>
            </button>
            <button class="btn btn--small btn--icon btn--negative" data-balloon="Delete Fabric" data-balloon-pos="down">
                <span class="icon-trash"></span>
            </button>
        </div>
        <div class="col-md-10">
            <h3>{{ fabricService.fabric.fabric }}</h3>
        </div>
    </div>
    <div class="row half-margin-top">
        <div class="col-md-2">
            <ul class="tabs tabs--vertical">
                <li *ngFor="let tab of tabs ; let i=index" id="i" class="tab" routerLinkActive="active">
                    <a tabindex="i" [routerLink]="[tab.path]">
                        <div class="tab__heading">{{ tab.name }}</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<ng-template #errorMessage>
    <div class="modal__body">
        <div class="col-xl-12">
            <div class="alert alert--success" *ngIf="modalIcon !== 'error'">
                <div class="alert__icon icon-check-outline"></div>
                <div class="alert__message text-left">
                    <h4>{{ modalBody }}</h4>
                </div>
            </div>
        </div>
        <div class="alert alert--danger" *ngIf="modalIcon === 'error'">
            <div class="alert__icon icon-error-outline"></div>
            <div class="alert__message text-left">
                <h4>{{ modalBody }}</h4>
            </div>
        </div>
        <div class="modal__footer">
            <button class="btn" (click)="modalService.hideModal()">Ok</button>
        </div>
    </div>
</ng-template>