<div class="panel panel--raised">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn--small btn--icon btn--primary" data-balloon="Save" data-balloon-pos="down"
                    [disabled]="userRole!=0 || isLoading"
                    (click)="saveFabric()">
                <span class="icon-save"></span>
            </button>
            <a [routerLink]="'/queues'" class="btn btn--small btn--icon btn--secondary" data-balloon="Process Queues"
               data-balloon-pos="down">
                <span class="icon-analysis"></span>
            </a>
            <button class="btn btn--small btn--icon btn--negative" data-balloon="Delete Endpoint History"
                    data-balloon-pos="down"
                    [disabled]="userRole!=0 || isLoading"
                    (click)="deleteAllEndpoints()">
                <span class="icon-virtual-machine"></span>
            </button>
            <button *ngIf="!app_mode" class="btn btn--small btn--icon btn--negative" data-balloon="Delete Fabric"
                    data-balloon-pos="down"
                    [disabled]="userRole!=0 || isLoading"
                    (click)="deleteFabric()">
                <span class="icon-trash"></span>
            </button>
        </div>
        <div class="col-md-10">
            <h3>{{ fabricService.fabric.fabric }}</h3>
        </div>
    </div>
    <div class="row half-margin-top">
        <div class="col-md-2">
            <ul class="tabs tabs--vertical">
                <li *ngFor="let tab of tabs ; let i=index" id="i" class="tab" routerLinkActive="active">
                    <a tabindex="i" [routerLink]="[tab.path]">
                        <div class="tab__heading">{{ tab.name }}</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <loading-dots *ngIf="isLoading"></loading-dots>
            <div *ngIf="!isLoading" class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<ng-template #generalModal>
    <div class="modal__body">
        <div [ngClass]="modalAlertClass">
            <div [ngClass]="modalIconClass"></div>
            <div class="alert__message text-left">
                <h4>{{ modalTitle }}</h4>
                <div class="qtr-margin-top" [innerHtml]="modalBody"></div>
            </div>
        </div>
        <div *ngIf="!modalConfirm" class="modal__footer">
            <button class="btn btn--primary" (click)="modalService.hideModal()">Close</button>
        </div>
        <div *ngIf="modalConfirm" class="modal__footer">
            <button class="btn btn--gray-ghost" (click)="modalConfirmCallback()">Yes</button>
            <button class="btn btn--primary" (click)="modalService.hideModal()">No</button>
        </div>
    </div>
</ng-template>