<div class="absolute-center">
    <div class="loginPanel">
        <div class="panel panel--raised text-center">
            <div class="icon-cisco text-blue text-huge"></div>
            <div class="base-margin text-center">
                    <h2 class="">{{ version.app_id }}</h2>
                    Version <b>{{ version.version }}</b>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="base-margin">
                        <div class="form-group">
                            <div class="form-group__text">
                                <input id="username" type="text" required autofocus name="username"
                                       [(ngModel)]="username">
                                <label for="username">Username</label>
                            </div>
                            <div class="form-group__text">
                                <input id="password" type="password" required name="password"
                                       [(ngModel)]="password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                </div>
                <div class="base-margin">
                    <loading-dots *ngIf="loading"></loading-dots>
                    <button *ngIf="!loading" type="submit" class="btn btn--primary"
                            [disabled]="!loginForm.form.valid">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
  