<div class="content">
    <div class="container base-margin ">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel--raised text-center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="icon-cisco text-blue text-huge"></div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row base-margin">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <h2>{{ title }}</h2>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="row base-margin-bottom">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-group__text">
                                        <input id="username" type="text" required autofocus name="username"
                                               [(ngModel)]="username">
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="form-group__text">
                                        <input id="password" type="password" required name="password"
                                               [(ngModel)]="password">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row base-margin-bottom">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <loading-dots *ngIf="loading"></loading-dots>
                                <button *ngIf="!loading" type="submit" class="btn btn--primary"
                                        [disabled]="!loginForm.form.valid">
                                    Login
                                </button>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">Version <b>{{ version }}</b></div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
  