<div class="content">
    <div class="container">     
    <div class="row" style="margin-top:1%">
        <div class="col-md-12">
          <div class="form-group">
              <div class="form-group__text">
                  <input type="text" id="searchendpoint" />
                  <label for="searchendpoint">Search Events</label>
                </div>
          </div>
        </div>
    </div>
    <div class="row" style="margin-top:1%;background-color:white;">
      <div class="col-12">
        <div class="secondary-tabs">
          <ul class="tabs">
            <li *ngFor="let tab of tabs ; let i=index" id="i" class="tab" routerLinkActive="active">
              <a tabindex="i" [routerLink]="[tab.path]">
                <div class="tab__heading" title="tab.name">{{tab.name}}
                    
                </div>
              </a>
            </li>
          </ul>
          <div class="tab-content">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
  </div>
    </div>
   