<div class="content">
    <div class="container">     
    <div class="row" style="margin-top:1%">
        <div class="col-md-12" style="padding-left:0;padding-right:0;">
          <div class="form-group input--icon">
              <div class="form-group__text">
                  <input type="text" id="searchendpoint" [attr.placeholder]='placeholder' [typeaheadItemTemplate]="optionsTemplate" [(ngModel)]="searchKey" [typeahead]="eventObservable" >
                  <button type="button" class="link" tabindex="-1">
                      <span class="icon-search"></span>
                  </button>
                  <ng-template #optionsTemplate let-model="model" let-item="item" let-index="index" >
                    <div class="row" style="background-color:white ; width:100% ; z-index:1000">
                        <div class="col-md-12">
                            {{item['ept.endpoint']['fabric']}}
                        </div>
                    </div>
                  </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:1%;background-color:white;">
      <div class="col-12">
        <div class="secondary-tabs">
          <ul class="tabs">
            <li *ngFor="let tab of tabs ; let i=index" id="i" class="tab" routerLinkActive="active">
              <a tabindex="i" [routerLink]="[tab.path]">
                <div class="tab__heading" title="tab.name">
                  {{tab.name}}  
                </div>
              </a>
            </li>
          </ul>
          <div class="tab-content">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop hide" [ngClass]="{'hide':showModal === false}" style="left:0"></div>
    <div class="modal modal--small hide" [ngClass]="{'hide':showModal === false}" id="modal-small">
        <div class="modal__dialog">
            <div class="modal__content">
                <a class="modal__close" (click)="showModal = false"><span class="icon-close"></span></a>
                <div class="modal__header">
                    <h1><span class="icon-error"></span></h1>
                    <h1 class="modal__title">{{modalTitle}}</h1>
                </div>
                <div class="modal__body">
                   <p class="subtitle">{{modalBody}}</p>
                </div>
                <div class="modal__footer">
                    <button class="btn" (click)="showModal = false">Ok</button>
                </div>
            </div>
        </div>
    </div>
  </div>
    </div>
   