<div class="row" style="margin-top:1%">
      <div class="col-md-12">
        
            <button class="btn btn--small btn--primary">
                <span class="icon-add"></span>
                <span>Add</span>
                </button>
            <button class="btn btn--small btn--success">
              <span class="icon-refresh">
              </span>
              <span>Refresh</span>
            </button>
        
          
      </div>
  
  
  <div class="col-md-12" style="margin-top:1%">
    <div class="panel panel--raised">
        <ngx-datatable
        #myTable
        class="fullscreen"
        [columnMode]="'flex'"
        [headerHeight]="25"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [sorts]="[sorts]"
        [limit]="10"
        [loadingIndicator]="loading"
        [rows]="rows"
        [cssClasses]="{
          sortAscending: 'icon-chevron-down',
          sortDescending: 'icon-chevron-up',
          pagerLeftArrow: 'icon-step-prev',
          pagerRightArrow: 'icon-step-next',
          pagerPrevious: 'icon-step-backward',
          pagerNext: 'icon-step-forward'
        }"
        (sort)="onSort($event)">
        <ngx-datatable-row-detail [rowHeight]="'auto'" (toggle)="onToggle($event)" >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <div class="row">
                <div class="col-md-12">
                  <ngx-datatable
                  [columnMode]="'flex'"
                  [headerHeight]="25"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [sorts]="[sorts]"
                  [limit]="10"
                  [loadingIndicator]="loading"
                  [rows]="row.events"
                  [cssClasses]="{
                  sortAscending: 'icon-chevron-down',
                  sortDescending: 'icon-chevron-up',
                  pagerLeftArrow: 'icon-step-prev',
                  pagerRightArrow: 'icon-step-next',
                  pagerPrevious: 'icon-step-backward',
                  pagerNext: 'icon-step-forward'
                  }">
                    <ngx-datatable-column prop="time" name="Timestamp" [flexGrow]="0.2" >
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="status" name="Status" [flexGrow]="0.2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <span class="label label--raised" [ngClass] = "{'label--success':value==='Initializing','label--negative':value==='Restarting'}">
                        {{value}}
                      </span>
                    </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="description" name="Description" [flexGrow]="0.2" >
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}}
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>
      <ngx-datatable-column prop="fabric" name="Fabric Name" [sortable]="true" [flexGrow]="0.2">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="status" name="Fabric Status" [sortable]="true" [flexGrow]="0.2">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span [ngClass]="{'label label--success label--raised':value === 'Running', 'label label--dkgray label--raised':value === 'Stopped'}">
                <span>
                  {{value}}
                </span>
              </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="macs" name="Active MAC" [sortable]="true" [flexGrow]="0.2">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="ipv4" name="Active IPv4" [sortable]="true" [flexGrow]="0.2">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{value !== '' ? value : '-'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="ipv6" name="Active IPv6" [sortable]="true" [flexGrow]="0.2">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value !== '' ? value : '-'}}
              </ng-template>
            </ngx-datatable-column>
          <ngx-datatable-column name="Controls" [flexGrow]="0.2">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a class="btn btn--small btn--icon btn--primary" data-balloon='Start' data-balloon-pos='right'>
                <span tabindex="0" class="icon-animation"></span>
              </a>
              <a class="btn btn--small btn--icon btn--negative" data-balloon='Delete' data-balloon-pos='right'>
                <span class="icon-close"></span>
              </a>
              <a class="btn btn--small btn--icon" data-balloon='Edit' data-balloon-pos='right'>
                <span class="icon-edit"></span>
              </a>
              <a class="btn btn--small btn--icon btn--secondary" (click)="toggleRow(row)" data-balloon='History' data-balloon-pos='left'>
                <span [ngClass]="{'icon-chevron-up':expanded===true , 'icon-chevron-down':expanded===false}"></span>
              </a>
            </ng-template>
          </ngx-datatable-column>
          
      </ngx-datatable>
    </div>
     
  </div>
</div>
