<div class="row" style="margin-top:1%">
      <div class="col-md-12">
        
            <button class="btn btn--small btn--primary" (click)="showFabricModal = true">
                <span class="icon-add"></span>
                <span>Add</span>
                </button>
            <button class="btn btn--small btn--success" (click)="getFabrics()">
              <span class="icon-refresh">
              </span>
              <span>Refresh</span>
            </button>
      </div>
  
  
  <div class="col-md-12" style="margin-top:1%">
    <div class="panel panel--raised">
        <ngx-datatable
        #myTable
        class="fullscreen"
        [columnMode]="'flex'"
        [headerHeight]="25"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [sorts]="[sorts]"
        [limit]="10"
        [loadingIndicator]="loading"
        [rows]="rows"
        [cssClasses]="{
          sortAscending: 'icon-chevron-down',
          sortDescending: 'icon-chevron-up',
          pagerLeftArrow: 'icon-step-prev',
          pagerRightArrow: 'icon-step-next',
          pagerPrevious: 'icon-step-backward',
          pagerNext: 'icon-step-forward'
        }"
        (sort)="onSort($event)">
        <ngx-datatable-row-detail [rowHeight]="'auto'" (toggle)="onToggle($event)" >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <div class="row">
                <div class="col-md-12">
                  <ngx-datatable
                  [columnMode]="'flex'"
                  [headerHeight]="25"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [sorts]="[sorts]"
                  [limit]="10"
                  [loadingIndicator]="loading"
                  [rows]="row.fabric.events"
                  [cssClasses]="{
                  sortAscending: 'icon-chevron-down',
                  sortDescending: 'icon-chevron-up',
                  pagerLeftArrow: 'icon-step-prev',
                  pagerRightArrow: 'icon-step-next',
                  pagerPrevious: 'icon-step-backward',
                  pagerNext: 'icon-step-forward'
                  }">
                    <ngx-datatable-column prop="timestamp" name="Timestamp" [flexGrow]="0.2" >
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ ( value | amFromUnix ) | amDateFormat: 'MMM DD YYYY - HH:mm:ss'  }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="status" name="Status" [flexGrow]="0.2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <span class="label label--raised" [ngClass] = "{'label--warning-alt':value==='starting','label--info':value==='initializing','label--success' : value === 'running','label--warning':value==='restarting', 'label--danger':value === 'stopped'}">
                        {{value}}
                      </span>
                    </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="description" name="Description" [flexGrow]="0.2" >
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ value !== '' ? value : '-'}}
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>
      <ngx-datatable-column prop="fabric" name="Fabric Name" [sortable]="true" [flexGrow]="0.2">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value.fabric}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="status" name="Fabric Status" [sortable]="true" [flexGrow]="0.2">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span class="label label--raised" [ngClass]="{'label--success':row.fabric.events[0].status === 'running', 'label--dkgray':row.fabric.events[0].status === 'stopped'}">
                <span>
                  {{row.fabric.events[0].status}}
                </span>
              </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="macs" name="Active MAC" [sortable]="true" [flexGrow]="0.2">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row.fabric.mac !== '' && row.fabric.mac !== undefined ? row.fabric.mac : '-'}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="ipv4" name="Active IPv4" [sortable]="true" [flexGrow]="0.2">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row.fabric.ipv4 !== '' ? row.fabric.ipv4 : '-'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="ipv6" name="Active IPv6" [sortable]="true" [flexGrow]="0.2">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.fabric.ipv6 !== '' ? row.fabric.ipv6 : '-'}}
              </ng-template>
            </ngx-datatable-column>
          <ngx-datatable-column name="Controls" [flexGrow]="0.2">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a class="btn btn--small btn--icon btn--primary" data-balloon='Start' data-balloon-pos='right'>
                <span tabindex="0" class="icon-animation"></span>
              </a>
              <a class="btn btn--small btn--icon btn--negative" data-balloon='Delete' data-balloon-pos='right'>
                <span class="icon-close"></span>
              </a>
              <a class="btn btn--small btn--icon" data-balloon='Edit' data-balloon-pos='right'>
                <span class="icon-edit"></span>
              </a>
              <a class="btn btn--small btn--icon btn--secondary" (click)="toggleRow(row)" data-balloon='History' data-balloon-pos='left'>
                <span [ngClass]="{'icon-chevron-up':expanded===true , 'icon-chevron-down':expanded===false}"></span>
              </a>
            </ng-template>
          </ngx-datatable-column>
          
      </ngx-datatable>
    </div>
     
  </div>

  <div class="modal-backdrop hide" [ngClass]="{'hide':showFabricModal === false}" style="left:0"></div>
    <div class="modal modal--small hide" [ngClass]="{'hide':showFabricModal === false}" id="modal-small">
        <div class="modal__dialog">
            <div class="modal__content">
                <div class="modal__header">
                    <h1 class="modal__title"> Add new fabric</h1>
                </div>
                <div class="modal__body">
                   <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <div class="form-group__text">
                                  <input id="input-size-default" type="text" [(ngModel)] = "fabricName">
                                  <label for="input-size-default">Fabric Name</label>
                              </div>
                          </div>
                      </div>
                   </div>
                </div>
                
                <div class="modal__footer">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                          <div class="form-group">
                            <button class="btn btn--primary" [disabled]='fabricName.trim() === ""' (click)="onFabricNameSubmit()">Submit</button>
                          </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <button class="btn btn--negative" (click)="showFabricModal = false">Cancel</button>
                          </div>
                        </div>
                      </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

