<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card__header text-huge text-center text--success">{{ fabric?.ipv4 | number }}</div>
            <div class="card__body text-large text-center">IPv4</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card__header text-huge text-center text--success">{{ fabric?.ipv6 | number }}</div>
            <div class="card__body text-large text-center">IPv6</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card__header text-huge text-center text--success">{{ fabric?.mac | number }}</div>
            <div class="card__body text-large text-center">Mac</div>
        </div>
    </div>
</div>
<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel--raised">
            <h4>Fabric Events
                <button class="btn btn--icon btn--small btn--primary" (click)='getFabric()'>
                    <span class="icon-refresh"></span>
                </button>
            </h4>
            <ngx-datatable
                    [columnMode]="'flex'"
                    [headerHeight]="25"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [limit]="pageSize"
                    [loadingIndicator]="loading"
                    [rows]="rows"
                    [sorts]="sorts"
                    [cssClasses]="{
                    sortAscending: 'icon-chevron-down',
                    sortDescending: 'icon-chevron-up',
                    pagerLeftArrow: 'icon-step-prev',
                    pagerRightArrow: 'icon-step-next',
                    pagerPrevious: 'icon-step-backward',
                    pagerNext: 'icon-step-forward'
                    }">
                <ngx-datatable-column prop="timestamp" name="Timestamp" [sortable]="true" [flexGrow]="0.2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ (value | amFromUnix) | amDateFormat: 'MMM DD YYYY - HH:mm:ss' }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="status" name="Status" [sortable]="true" [flexGrow]="0.2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <span class="label label--raised"
                                  [ngClass]="{
                                     'label--success':value === 'running',
                                     'label--warning': value === 'stopped',
                                     'label--blue': value === 'initializing',
                                     'label--vibblue': value === 'starting',
                                     'label--danger': value === 'failed'
                                  }">
                                <span>
                                   {{ value }}
                                </span>
                            </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="description" name="Description" [sortable]="true" [flexGrow]="0.6">
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<ng-template #errorMsg>
    <div class="modal__body">
        <div class="col-xl-12">
            <div class="alert alert--success" *ngIf="modalService.modalIcon === 'success'">
                <div class="alert__icon icon-check-outline"></div>
                <div class="alert__message text-left">
                    <h4>{{ modalService.modalTitle }}</h4>
                    <div>{{ modalService.modalBody }}</div>
                </div>
            </div>
        </div>
        <div class="alert alert--danger" *ngIf="modalService.modalIcon === 'error'">
            <div class="alert__icon icon-error-outline"></div>
            <div class="alert__message text-left">
                <h4>{{ modalService.modalTitle }}</h4>
                <div>{{ modalService.modalBody }}</div>
            </div>
        </div>
        <div class="alert alert--info" *ngIf="modalService.modalIcon === 'info'">
            <div class="alert__icon icon-info-outline"></div>
            <div class="alert__message text-left">
                <h4>{{ modalService.modalTitle }}</h4>
                <div>{{ modalService.modalBody }}</div>
            </div>
        </div>
        <div class="modal__footer" *ngIf="!modalService.decisionBox">
            <button class="btn" (click)="modalService.hideModal()">Ok</button>
        </div>
        <div class="modal__footer" *ngIf="modalService.decisionBox">
            <button class="btn btn--primary" (click)="modalService.runCallback()">Proceed</button>
            <button class="btn btn--secondary" (click)="modalService.hideModal()">Cancel</button>
        </div>
    </div>
</ng-template>
