<div *ngIf="!loading && !fabricFound">
    <div class="alert alert--warning">
        <div class="alert__icon icon-warning-outline"></div>
        <div class="alert__message text-left">
            Fabric {{ fabricName }} not found.
        </div>
    </div>
</div>
<div *ngIf="fabricFound">
    <div *ngIf="!managerRunning">
        <div class="base-margin-bottom alert alert--danger">
            <div class="alert__icon icon-error-outline"></div>
            <div class="alert__message text-left">
                <strong>Error</strong> Manager process is not running.  You may be unable to start/stop/monitor the fabric until this is resolved.
            </div>
        </div>
    </div>
    <div *ngIf="!fabricRunning">
        <div class="base-margin-bottom alert alert--warning">
            <div class="alert__icon icon-warning-outline"></div>
            <div class="alert__message text-left">
                <strong>Warning</strong> Endpoint Tracker is not currently running for this fabric
            </div>
        </div>
    </div>
    <div class="base-margin-bottom row">
        <div class="col-md-4">
            <div class="card">
                <div class="card__header text-huge text-center text--success">
                    <span *ngIf="loading"> - </span>
                    <span *ngIf="!loading">{{ fabric?.ipv4 | number }}</span>
                </div>
                <div class="card__body text-large text-center">IPv4</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card__header text-huge text-center text--success">
                        <span *ngIf="loading"> - </span>
                        <span *ngIf="!loading">{{ fabric?.ipv6 | number }}</span>
                </div>
                <div class="card__body text-large text-center">IPv6</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card__header text-huge text-center text--success">
                    <span *ngIf="loading"> - </span>
                    <span *ngIf="!loading">{{ fabric?.mac | number }}</span>
                </div>
                <div class="card__body text-large text-center">Mac</div>
            </div>
        </div>
    </div>
    
    <div class="base-margin-bottom row">
        <div class="col-md-12">
            <div class="panel panel--raised">
                <div class="row" *ngIf="loading || restartLoading">
                    <div class="col-md-12">
                        <loading-dots></loading-dots>
                    </div>
                </div>
                <div class="row" *ngIf="!loading && !restartLoading">
                    <div class="col-md-4">
                        <button class="btn btn--icon btn--small btn--default" 
                                data-balloon="Refresh" data-balloon-pos="down"
                                (click)='getFabric()'>
                                <span class="icon-refresh"></span>
                        </button><button class="btn btn--icon btn--small btn--primary" 
                                data-balloon="Start Monitor" data-balloon-pos="down"
                                [disabled]="userRole!=0"
                                (click)='startFabric()'>
                                <span class="icon-right-arrow-contained"></span>
                        </button><button class="btn btn--icon btn--small btn--negative" 
                                data-balloon="Stop Monitor" data-balloon-pos="down"
                                [disabled]="userRole!=0"
                                (click)='onStopFabric()'>
                                <span class="icon-stop"></span>
                        </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <h4 class="text-bold">{{ fabric.fabric }}</h4>
                    </div>
                    <div class="col-md-4 text-right">
                        <h6 class="qtr-margin-top">
                            <span class="text-bold">Uptime</span>
                            {{ fabric.uptime | uptimeDays }}
                        </h6>
                    </div>
                </div>
                <ngx-datatable *ngIf="!loading && !restartLoading"
                        [columnMode]="'force'"
                        [headerHeight]="25"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="pageSize"
                        [loadingIndicator]="loading"
                        [rows]="rows"
                        [sorts]="sorts"
                        [cssClasses]="{
                        sortAscending: 'icon-chevron-down',
                        sortDescending: 'icon-chevron-up',
                        pagerLeftArrow: 'icon-step-prev',
                        pagerRightArrow: 'icon-step-next',
                        pagerPrevious: 'icon-step-backward',
                        pagerNext: 'icon-step-forward'
                        }">
                    <ngx-datatable-column prop="timestamp" name="Timestamp" [sortable]="true" [flexGrow]="0.2">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ (value | amFromUnix) | amDateFormat: 'MMM DD YYYY - HH:mm:ss' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="status" name="Status" [sortable]="true" [flexGrow]="0.2">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <status-label [status]="value"></status-label>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="description" name="Description" [sortable]="true" [flexGrow]="0.6">
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>